*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    min-height: 100vw;
    display: grid;
    grid-template-columns: 750px 1fr  1fr;
    grid-template-rows: 200px 1fr 125px;
    grid-template-areas: 
    "header""header"
    "main""article"
    "footer""footer";
    background: rgb(255,236,236);
    background: linear-gradient(113deg, rgba(255,236,236,1) 47%, rgba(255,173,229,1) 69%);
    
    

} 
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    background-repeat: no-repeat;
}
header>img{
   
    height: 200px;
    width: 200px;
    
}
header > ul{
    display: flex;
    list-style-type: none;
    margin-right: 70px;
    background-color:#8EDDB7;
    border-radius: 50px;
    
} 


header > ul > li{
   margin: 20px;
    
}

header> ul > li > a{
    text-decoration: none;
}

main{
  
    display: flex;
    align-items: center;
    flex-direction: row;
    grid-area: main;
    justify-content: space-between;
}
.açıklama{
    
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-left: 2%;
    text-transform: uppercase;
    
}

.açıklama>h4{
    font-size:22px;
    margin-bottom: 10%;
    word-spacing: 2px;
}

.açıklama>a{
    text-decoration-color: rgb(216, 28, 28) ;
    margin-top: 20%;
    text-decoration-thickness: 2px;
    color: teal;
    
}
article{
    grid-area:article;
}
article>img{
    height: 600px;
}
